/* global */
* {
  font-family: 'Roboto', sans-serif;
}
/* Sidebar */
header {
  position: fixed;
  left: 0;
  height: 100vh;
  background-color: #4a4a4a;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.sidebar-links {
  list-style: none;
  padding: 0 0.8rem;
  flex-grow: 1;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .sidebar-links {
    padding: 0 1.5rem;
  }
}

.sidebar-links li {
  line-height: 3;
}

.sidebar-links a {
  color: white;
  text-decoration: none;
}

.social-links {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.social-links svg {
  height: 40px;
  width: 40px;
}

.icon {
  fill: white;
}

/* main style */
main {
  padding-left: 102px;
}

/* Landing Page */

.landing h1 {
  font-size: 5rem;
  padding: 3rem 0 0 1rem;
}

@media only screen and (min-width: 769px) {
  .landing h1 {
    padding: 12rem 0 0 22rem;
  }
}

.landing p {
  padding: 0 0 0 9rem;
}

@media only screen and (min-width: 769px) {
  .landing p {
    padding: 0 0 0 22rem;
  }
}

/* down arrow */
.down-arrow {
  color: black;
  text-decoration: none;
}

.arrow {
  text-align: center;
  margin: 40% 0;
}

@media only screen and (min-width: 769px) {
  .arrow {
    text-align: center;
    margin: 8% 0;
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

#Capa_1 {
  margin: 5rem 0 0 -6rem;
}

@media only screen and (min-width: 769px) {
  #Capa_1 {
    margin-top: 15rem;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* About Section */

/* Work Section */
.projects {
  display: flex;
  margin: 0 5rem 0 5rem;
}

.run-buddy {
  flex-grow: 1;
  color: white;
  text-decoration: none;
  background-image: url(https://user-images.githubusercontent.com/94631019/147771471-03d5c74a-538a-46db-861c-51e768e60ea3.PNG);
  height: 15rem;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.card {
  border: solid black 0.2rem;
  box-shadow: 0.2rem 0.2rem 0.6rem black;
  margin: 0.5rem;
  background-size: cover;
}

.horiseon {
  color: white;
  text-decoration: none;
  background-image: url(https://user-images.githubusercontent.com/94631019/147771678-724ad2e7-615d-4a42-861e-14483da8cf3a.png);
  height: 7rem;
}

.rb-gladiators {
  color: white;
  text-decoration: none;
  background-image: url(https://user-images.githubusercontent.com/94631019/147772025-6dc035d4-22fa-475f-ac3a-77535d0a1ac2.PNG);
  height: 7rem;
}

/* Contact Section */
