/* global */
* {
  font-family: 'Roboto', sans-serif;
}
/* Sidebar */
header {
  position: fixed;
  left: 0;
  height: 100vh;
  background-color: #4a4a4a;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.sidebar-links {
  list-style: none;
  list-style: none;
  padding: 0 1.5rem;
  flex-grow: 1;
  margin: 0;
}

.sidebar-links li {
  line-height: 3;
}

.sidebar-links a {
  color: white;
  text-decoration: none;
}

.social-links {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.social-links svg {
  height: 40px;
  width: 40px;
}

.icon {
  fill: white;
}

/* Landing Page */

/* About Section */

/* Work Section */

/* Contact Section */
