@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

header h1 {
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  justify-content: right;
}

.nav-list ul {
  display: none;
}

.nav-list:hover ul {
  display: block;
}

#about {
  position: relative;
  left: 10%;
  width: 50%;
}

.projects {
  display: flex;
}

.run-buddy {
  flex: 2;
  border: 2px solid black;
  margin: 3px;
  background-image: url(../../assets/images/run-buddy.PNG);
  height: 50px;
}

.run-buddy:hover {
  animation: bounce 1s;
}

.horiseon {
  flex: 1;
  border: 2px solid black;
  margin: 3px;
}

.placeholder {
  flex: 1;
  border: 2px solid black;
  margin: 3px;
}

.box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
  background: transparent;
}

.small-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%;
}

.rb-text {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}
